#article-container
  if theme.linkPageTop && theme.linkPageTop.enable
    #flink-banners
      .banner-top-box
        .flink-banners-title
          .banners-title-small å‹æƒ…é“¾æŽ¥
          .banners-title-big=theme.linkPageTop ? theme.linkPageTop.title : "ä¸Žæ•°ç™¾ååšä¸»æ— é™è¿›æ­¥"
        .banner-button-group
          if (theme.friends_vue.apiurl)
            a.banner-button.secondary.no-text-decoration(onclick="friendChainRandomTransmission()")
              i.anzhiyufont.anzhiyu-icon-paper-plane1
              span.banner-button-text éšæœºè®¿é—®
          if theme.linkPageTop.addFriendPlaceholder && theme.comments.use == 'Twikoo' && theme.twikoo.envId
            a.banner-button.no-text-decoration(onclick="anzhiyu.addFriendLink()")
              i.anzhiyufont.anzhiyu-icon-arrow-circle-right
              span.banner-button-text ç”³è¯·å‹é“¾
      #skills-tags-group-all
        .tags-group-wrapper-link
          - function getAvatarWithoutExclamationMark(url) {
          -   const index = url.indexOf('!');
          -   return index !== -1 ? url.substring(0, index) : url;
          - }
          each y in [1,2]
            each i, index in site.data.link.slice(0, 15)
              - const link_list = i.link_list.slice()
              - const hundredSuffix = i.hundredSuffix ? i.hundredSuffix : ""
              - const evenNum = link_list.filter((x, index) => index % 2 === 0);
              - const oddNum = link_list.filter((x, index) => index % 2 === 1);
              each item, index2 in link_list.slice(0, Math.min(evenNum.length, oddNum.length))
                - const index = index2 * 2
                if (index <= 15 && typeof evenNum[index] !== 'undefined' && typeof oddNum[index] !== 'undefined')
                  - let oddNumAvatar = getAvatarWithoutExclamationMark(oddNum[index].avatar);
                  - let evenNumAvatar = getAvatarWithoutExclamationMark(evenNum[index].avatar);
                  .tags-group-icon-pair-link
                    a.tags-group-icon.no-text-decoration(href=url_for(evenNum[index].link), title=evenNum[index].name)
                      img.no-lightbox(title=evenNum[index].name, src=url_for(evenNumAvatar + hundredSuffix) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'` alt=evenNum[index].name)
                    a.tags-group-icon.no-text-decoration(href=url_for(oddNum[index].link), title=oddNum[index].name)
                      img.no-lightbox(title=oddNum[index].name, src=url_for(oddNumAvatar + hundredSuffix) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'` alt=oddNum[index].name)
  .title-h2-a
    .title-h2-a-left
      h2(style='padding-top:0;margin:.6rem 0 .6rem') ðŸŽ£ é’“é±¼
      a.random-post-start.no-text-decoration(href='javascript:fetchRandomPost();')
        i.anzhiyufont.anzhiyu-icon-arrow-rotate-right
    .title-h2-a-right
      a.random-post-all.no-text-decoration(href='/link/') å…¨éƒ¨å‹é“¾
  #random-post
  script(defer data-pjax src=url_for(theme.asset.random_friends_post_js))
  
  .flink
    if site.data.link
      each i in site.data.link
        if i.class_name
          h2!= i.class_name + "(" + i.link_list.length + ")"
        if i.class_desc
          .flink-desc!=i.class_desc
        if i.flink_style === 'anzhiyu'
          div(class=i.lost_contact ? 'anzhiyu-flink-list cf-friends-lost-contact' : 'anzhiyu-flink-list')
            if i.link_list
              each item in i.link_list
                - let color = item.color || ""
                - let tag = item.tag || ""
                
                .flink-list-item
                  if color == "vip" && tag
                    span.site-card-tag.vip #[=tag]
                      i.light
                  else if color == "speed" && tag
                    span.site-card-tag.speed #[=tag]
                  else if tag
                    span.site-card-tag(style=`background-color: ${color}`) #[=tag]
                  else if item.recommend
                    span.site-card-tag è
                  if i.lost_contact
                    a.cf-friends-link(href=url_for(item.link) title=item.name target="_blank")
                      if theme.lazyload.enable
                        img.no-lightbox(data-lazy-src=url_for(item.avatar) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'` alt=item.name )
                      else
                        img.cf-friends-avatar.no-lightbox(src=url_for(item.avatar) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'` alt=item.name )
                      .flink-item-info
                        .flink-item-name.cf-friends-name-lost-contact= item.name
                  else
                    a.cf-friends-link(href=url_for(item.link) cf-href=url_for(item.link) title=item.name target="_blank")
                      if theme.lazyload.enable
                        img.cf-friends-avatar.no-lightbox(data-lazy-src=url_for(item.avatar), cf-src=url_for(item.avatar), onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'` alt=item.name )
                      else
                        img.cf-friends-avatar.no-lightbox(src=url_for(item.avatar) cf-src=url_for(item.avatar) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'` alt=item.name )
                      .flink-item-info
                        .flink-item-name.cf-friends-name= item.name
                        .flink-item-desc(title=item.descr)= item.descr
        
        else if i.flink_style === 'telescopic'
          .telescopic-site-card-group
            each item in i.link_list
              - let color = item.color || ""
              - let tag = item.tag || ""
              - let siteshot = item.siteshot || `https://image.thum.io/get/width/400/crop/800/allowJPG/wait/20/noanimate/${item.link}` || theme.default_img
              .site-card
                if color == "vip" && tag
                  span.site-card-tag.vip #[=tag]
                    i.light
                else if color == "speed" && tag
                  span.site-card-tag.speed #[=tag]
                else if tag
                  span.site-card-tag(style=`background-color: ${color}`) #[=tag]
                else if item.recommend
                  span.site-card-tag è
                a.img.no-text-decoration(target='_blank', title=`${item.name}`, href=`${item.link}`, rel='external nofollow')
                  img.flink-avatar(data-lazy-src=siteshot, onerror=`this.onerror=null;this.src='${theme.default_img}'`, alt=item.name, style="pointer-events: none;", src=`${siteshot}`)
                a.info.cf-friends-link.no-text-decoration(target='_blank', title=`${item.name}`, href=`${item.link}`, cf-href=url_for(item.link), rel='external nofollow')
                  .site-card-avatar
                    img.flink-avatar.cf-friends-avatar.no-fancybox(data-lazy-src=item.avatar, cf-src=url_for(item.avatar), onerror=`this.onerror=null;this.src='${theme.default_img}'`, alt=item.name, src=item.avatar)
                  .site-card-text
                    span.title.cf-friends-name #[=item.name]
                    span.desc(title=`${item.descr}`) #[=item.descr]
        else if i.flink_style === 'flexcard'
          .flexcard-flink-list
            each item in i.link_list
              a.flink-list-card.cf-friends-link(href=url_for(item.link) cf-href=url_for(item.link) target='_blank' data-title=item.descr)
                .wrapper.cover
                  - var siteshot = item.siteshot ? url_for(item.siteshot) : 'https://image.thum.io/get/width/400/crop/800/allowJPG/wait/20/noanimate/' + item.link
                  if theme.lazyload.enable
                    img.cover.fadeIn(data-lazy-src=siteshot onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.post_page) + `'` alt='cover' )
                  else
                    img.cover.fadeIn(src=siteshot onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.post_page) + `'` alt='cover' )    
                .info
                  if theme.lazyload.enable
                    img.cf-friends-avatar.no-lightbox.flink-avatar(data-lazy-src=url_for(item.avatar) cf-src=url_for(item.avatar) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'` alt='cover' )
                  else
                    img.cf-friends-avatar.no-lightbox(src=url_for(item.avatar) cf-src=url_for(item.avatar) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'` alt='cover' )
                  span.flink-sitename.cf-friends-name= item.name
        else if i.flink_style === 'supercard'
          .links-friends
            each item in i.link_list
              .friends-item(onclick="window.open('"+item.link+"')")
                .player 
                  - var level = item.level || 'v1'
                  .player-content-v1(class= level === 'v2' ? 'player-content-v2' : level === 'v3' ? 'player-content-v3' : '')
                    if item.alias
                      span(class= level === 'v1' ? 'alias-v1' : level === 'v2' ? 'alias-v2' : level === 'v3' ? 'alias-v3' :'')
                        span
                          if item.level === 'v1'
                            a(href=url_for(theme.friends_vip.alias.v1), data-fancybox="gallery", data-caption="", data-thumb=url_for(theme.friends_vip.alias.v1))
                              img(src=url_for(theme.friends_vip.alias.v1), onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'`, style="width: 12px", onclick="return false;", data-ll-status="loaded", class="entered loaded")
                          else if item.level === 'v2'
                            a(href=url_for(theme.friends_vip.alias.v2), data-fancybox="gallery", data-caption="", data-thumb=url_for(theme.friends_vip.alias.v2))
                              img(src=url_for(theme.friends_vip.alias.v2), onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'`, data-lazy-src=url_for(theme.friends_vip.alias.v2), style="width: 12px", onclick="return false;", data-ll-status="loaded", class="entered loaded")
                          else if item.level === 'v3'
                            a(href=url_for(theme.friends_vip.alias.v3), data-fancybox="gallery", data-caption="", data-thumb=url_for(theme.friends_vip.alias.v3))
                              img(src=url_for(theme.friends_vip.alias.v3), onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'`, data-lazy-src=url_for(theme.friends_vip.alias.v3), style="width: 12px", onclick="return false;", data-ll-status="loaded", class="entered loaded")
                        = item.alias
                    if item.buoy === true
                      .player-bg
                        if item.level === 'v1'
                          a(href=url_for(theme.friends_vip.buoy.v1), data-fancybox="gallery", data-caption="", data-thumb=url_for(theme.friends_vip.buoy.v1))
                            img(src=url_for(theme.friends_vip.buoy.v1), onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'`, data-lazy-src=url_for(theme.friends_vip.buoy.v1), data-ll-status="loaded", class="entered loaded")
                        else if item.level === 'v2'
                          a(href=url_for(theme.friends_vip.buoy.v2), data-fancybox="gallery", data-caption="", data-thumb=url_for(theme.friends_vip.buoy.v2))
                            img(src=url_for(theme.friends_vip.buoy.v2), onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'`, data-lazy-src=url_for(theme.friends_vip.buoy.v2), data-ll-status="loaded", class="entered loaded")
                        else if item.level === 'v3'
                          a(href=url_for(theme.friends_vip.buoy.v3), data-fancybox="gallery", data-caption="", data-thumb=url_for(theme.friends_vip.buoy.v3))
                            img(src=url_for(theme.friends_vip.buoy.v3), onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'`, data-lazy-src=url_for(theme.friends_vip.buoy.v3), data-ll-status="loaded", class="entered loaded")
                    .album-cover(class= level=== 'v1'? 'album-cover-v1' : level === 'v2' ? 'album-cover-v2' : level === 'v3' ? 'album-cover-v3' : '')
                      a(href=url_for(item.link), title=url_for(item.name), target="_blank", draggable="false")
                        img.cf-friends-avatar.no-lightbox.entered.loaded(data-lazy-src=url_for(item.avatar), onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'`, alt=url_for(item.name), draggable="false", data-ll-status="loaded", src=url_for(item.avatar))
                    if item.buoy === true
                      if item.level === 'v1'
                        a(href=url_for(theme.friends_vip.symbol.v1), data-fancybox="gallery", data-caption="", data-thumb=url_for(theme.friends_vip.symbol.v1))
                          img.ava-badge.entered.loaded(src=url_for(theme.friends_vip.symbol.v1), onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'`, data-lazy-src=url_for(theme.friends_vip.symbol.v1), data-ll-status="loaded")
                      else if item.level === 'v2'
                        a(href=url_for(theme.friends_vip.symbol.v2), data-fancybox="gallery", data-caption="", data-thumb=url_for(theme.friends_vip.symbol.v2))
                          img.ava-badge.entered.loaded(src=url_for(theme.friends_vip.symbol.v2), onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'`, data-lazy-src=url_for(theme.friends_vip.symbol.v2), data-ll-status="loaded")
                      else if item.level === 'v3'
                        a(href=url_for(theme.friends_vip.symbol.v3), data-fancybox="gallery", data-caption="", data-thumb=url_for(theme.friends_vip.symbol.v3))
                          img.ava-badge.entered.loaded(src=url_for(theme.friends_vip.symbol.v3), onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'`, data-lazy-src=url_for(theme.friends_vip.symbol.v3), data-ll-status="loaded")
                    .play-controls-name
                      a(href=url_for(item.link), target="_blank", draggable="false")
                        h4.ui.header.one-line.f-w-name-hg-1(class=level=== 'v1' ? 'f-w-name-ph' : level === 'v2' ? 'f-w-name-zx' : level === 'v3' ? 'f-w-name-pv' : '', title=url_for(item.name))= item.name
                    .play-controls-time
                      - var date = new Date(item.add_time)
                      - var formattedDate = date.toISOString().split('T')[0]
                      p.one-line(class=level=== 'v1' ? 'f-w-name-ph' : level === 'v2' ? 'f-w-name-zx' : level === 'v3' ? 'f-w-name-pv' : '')= formattedDate +' åŠ å…¥æœ¬ç«™'
                    .play-controls-introduction
                      p.one-line(class=level=== 'v1' ? 'f-w-name-ph' : level === 'v2' ? 'f-w-name-zx' : level === 'v3' ? 'f-w-name-pv' : '', title=url_for(item.descr))= item.descr
          
    != page.content
